$color-white: hsl(0, 0%, 97%);
$custom-font: 'PT Serif', serif;
$color-green: #16DB93;


.custom-font {
	font-family: $custom-font;
}

.color-green {
	color: $color-green;
}


body {
	background-color: $color-white;
}

.toolbar {
	padding: 0px 20px;
}


.repo {
	padding: 20px !important;
	font-family: $custom-font;


	h3 a {
		color: $color-green;
		
	}

	.bottom-row {
		display: flex;
	}

	.bottom-row div {
		margin-right: 30px;
	}

	.description {
		color: rgb(88, 96, 105);
		margin: 20px 0px;
	}
}

@media screen and (max-width: 668px) {
	.repo h3 a {
		word-break: break-word;
		text-overflow: ellipsis;
	}
}

.repo-search {
	border: 1px solid lightgrey;

	&.active {
		box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
		border-color: #80bdff;
	}

	.input-group-prepend {
		.input-group-text {
			background-color: white;
			border: none;
			padding-right: 0;
		}
	}


	#search-input {
		border: none;
		box-shadow: none;
	}

	#search-input:disabled {
		background-color: white;
	}
}


.toolbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;

	.toolbar-inputs {
		display: flex;
		
		align-items: center;

		.filter {
			margin-right: 20px;
		}
	}
}

@media screen and (max-width: 668px) {
	.toolbar {
		flex-direction: column-reverse;
		justify-content: flex-start;
	}

	.toolbar-inputs {
		flex-direction: column;
		width: 100%;
		margin-bottom: 20px;

		.filter,
		.sort {
			width: 100%;
			margin-top: 10px;
		}
	}
}

